@media only screen and (min-width: 801px)and(max-width: 1200px){
#header{
	width: 1199px;
}
#logo{
	width: 100px;
	}
.shipping{
	width: 120px;
	float: left;
	margin-left:30px;

}
}
@media only screen and (min-width: 481px)and(max-width: 800px){
#header{width: 779px;}
}
@media only screen and (min-width: 321px)and(max-width: 480px){
#header{width: 479px;}
}
@media only screen and (min-width: 240px)and(max-width: 320px){
#header{
	width: 319px;
}
#logo{
	width: 50px;
	}
.shipping{
	width: 50px;
	float: left;

}
}